:root{
    --colorPrimario: #2FA4A9;
    --colorSecundario: #4F8EF7;
    --colorTerciario: #A7D7E8;

    --colorSombreas: #1F2D3D;
    --colorTitulos: #1F2D3D;
    --colorTitulosSecundario: #ffffff;
    --colorParrafos: #5F6B73;

    --colorFondo: #F7FAFC;
    --colorFondoSecundario: #c9302c;
    --colorBordes: #000f20;

    --zIndexNormal: 1;
    --zIndexTooltip: 10;
    --zIndexFixed: 100;
    --zIndexModal: 1000;
    --zIndexPopUp: 10000;
}

/* ===== GENERAL ===== */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--colorFondo);
}

/* ===== SIDEBAR ===== */
#sidebar {
    min-width: 260px;
    max-width: 260px;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--colorPrimario), var(--colorSecundario));
    padding: 20px 15px;
    box-shadow: 4px 0 15px rgba(0,0,0,0.05);
}

.logo-container {
    background: rgba(166, 205, 228, 0.685); /* fondo suave */
    padding: 15px;
    border-radius: 12px;
    margin: 15px;
    text-align: center;
    backdrop-filter: blur(6px); /* efecto glass */
}

.logo-container img {
    width: 170px;
    height: auto;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.4));
}

.logo-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* botones del menú */
.nav-link {
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 12px 15px;
    transition: all 0.3s ease;
}

/* hover moderno */
.nav-link:hover {
    background-color: rgb(255, 255, 255);
    transform: translateX(5px);
    color: black;
}

.nav-link.active {
    background-color: white;
    color: black;
    font-weight: bold;
}
/* ===== LOGOUT ===== */
.logout{
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 200px;
}

.nav-link-logout:hover{
    background-color: var(--colorFondoSecundario);
    color: white;
    border-radius: 10px;
}

/* ===== MAIN ===== */
.main-content {
    width: 100%;
    background-color: var(--colorFondo);
}

/* ===== HEADER ===== */
header {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.titulo{
    font-family:'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--colorTitulos);
}

form input {
    border-radius: 20px !important;
    padding-left: 15px;
}

/* ===== CARD ===== */
.card {
    border-radius: 15px;
    border: none;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.05);
    background-color: white;
}

.ola{
    font-family:'Lato', sans-serif;
    color: var(--colorTitulos);
    font-size: 1.8rem;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

/* ===== BOTONES ===== */
button.btn {
    border-radius: 8px;
    transition: 0.3s;
}

button.btn:hover {
    opacity: 0.9;
}

/* ===== SCROLL BONITO ===== */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--colorPrimario);
    border-radius: 10px;
}